<main class="flex gap-4 p-4 flex-col">
  <div class="flex gap-4">
    <div
      class="rounded-full overflow-hidden w-40 h-40 border border-neutral-200"
    >
      <img src="{{ user?.avatar_url }}" alt="{{ user?.name }}" />
    </div>
    <div class="flex flex-col text-black">
      <div>
        {{ user?.name }}
      </div>
      <div>
        {{ user?.bio }}
      </div>
      <div>
        {{ user?.location }}
      </div>
      <div>
        {{ user?.twitter_username }}
      </div>
    </div>
  </div>
  <div>
    <div *ngFor="let repo of repos">
      {{ repo.name }}
    </div>
  </div>
</main>
